<h1>Add New</h1>

<form action="/cats" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">

  <br/>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]">

  <br/>

  <label for="sex">Sex</label>
  <input id="sex" type="text" name="cat[sex]">

  <br/>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled>-- select color --</option>
    <% Cat::CAT_COLORS.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
    <% end %>
  </select>

  <br/>

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]"></textarea>

  <br/>
  <input type="submit" value="Submit">
</form>