<h1>Album: <%= @album.title %></h1>

<table>
  <thead>
    <tr>
      <th>Band</th>
      <th>Year</th>
      <th>Live Album</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @album.band_id %></td>
      <td><%= @album.year %></td>
      <td><%= @album.live_album %></td>
    </tr>
  </tbody>
</table>

