<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email">Email</label>
  <input id="user_email" type="text" name="user[email]">

  <br>

  <label for="user_password">Password</label>
  <input id="user_password" type="password" name="user[password]">

  <form>

  <input type="submit" value="Login">
</form>

