<h1>Register</h1>

<form action="<% users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="user_email">Email</label>
    <input id="user_email" type="text" name="user[email]">
  </div>

  <div class="form-group">
    <label for="user_password">Password</label>
    <input id="user_password" type="password" name="user[password]">
  </div>

  <input type="submit" value="Sign up" class="btn btn-submit">
</form>