/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: sans-serif;
    font-size: 1rem;
}

.masthead {
    border-bottom: 4px solid #eee;
}

.masthead-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.masthead .current_user_email {
    color: #666;
    margin-right: .625rem;
}

.masthead .logo {
    font-weight: bold;
    text-transform: lowercase;
    color: #4C7A18;
    font-size: 1.5rem;
}

.wrapper-padding {
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .25rem;
}

.form-group input {
    display: block;
}

.btn {
    padding: .4rem .625rem;
    background-color: #4B751A;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #233F03;
}