<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose" data-tweets-ul="#feed">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
    <br><strong class="chars-left">140 characters left</strong>
  </label>
  <br>

  <script type="text/javascript">
    <% users = [] %>
    <% User.all.each { |u| users << {id: u.id, username: u.username} } %>
    window.users = <%= users.to_json.html_safe %>
  </script>

  <ul class="mentioned-users"></ul>

  <input type="button" class="add-mention" data-index="0" value="Add mention">

  <input type="submit" value="Post Tweet!">
</form>
